@font-face {
	font-family:'iransansdn';
	src: url("/src/fonts/iransansdn.eot")format('opentype');
	src: url("/src/fonts/iransansdn.ttf")format('truetype');
	src: url("/src/fonts/iransansdn.woff")format('woff');

}
@font-face {
	font-family:'iransansbold';
	src: url("/src/fonts/iransansdnbold.eot")format('opentype');
	src: url("/src/fonts/iransansdnbold.ttf")format('truetype');
	src: url("/src/fonts/iransansdnbold.woff")format('woff');

}
@font-face {
	font-family:'iransanslight';
	src: url("/src/fonts/iransansdnlight.eot")format('opentype');
	src: url("/src/fonts/iransansdnlight.ttf")format('truetype');
	src: url("/src/fonts/iransansdnlight.woff")format('woff');

}

@font-face {
	font-family:iransans_num;
	src: url("/src/fonts/IRANSansDN_Fa_Num.ttf")format('truetype');
}
@font-face {
	font-family:iransans_num_bold;
	src: url("/src/fonts/IRANSansDN_FaNum-Bold.ttf")format('truetype');
}
@font-face {
	font-family:iransans_num_light;
	src: url("/src/fonts/IRANSansDN_FaNum_Light.ttf")format('truetype');
}

/* yekan font */

@font-face {
    font-family:'yekan';
    src: url("/src/fonts/Yekan.eot") format('opentype');
    src: url("/src/fonts/Yekan.ttf")format("truetype"),
    url("/src/fonts/Yekan.woff")format('woff');

}
@font-face {
    font-family:'Yekan-regular';
    src: url('/src/fonts/yekan-regular.eot')format('opentype');
    src: url("/src/fonts/yekan-regular.ttf")format("truetype"),
    url("/src/fonts/yekan-regular.woff")format('woff');

}

@font-face {
    font-family:'BYekan';
    src: url('/src/fonts/BYekan.eot')format('opentype');
    src: url('/src/fonts/BYekan.ttf')format('truetype');
    src: url('/src/fonts/BYekan.woff')format('woff');
    font-size: larger;
}

